
button:nth-child(odd) {
    color: black;
    background-color: magenta;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 15px;
}

button:nth-child(even) {
    color: black;
    background-color: blueviolet;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 15px;
}

#addButton, #han, #wookie, #vader {
    margin-left: 20px;
    margin: 0;
}

#submitbutton {
    color: white;
    background-color:black;
    border: none;
    padding: 20px; 
}

#searchTerm {
    padding: 20px;
    background-color: greenyellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 15px;
    border-style: dotted;
    box-shadow: dimgrey;
    border-color: gray;
}

#heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 20px;
}
